<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.oj.mapper.QuestionSubmitMapper">

    <resultMap id="BaseResultMap" type="com.lc.oj.model.entity.QuestionSubmit">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result column="judgeResult" property="judgeResult" jdbcType="INTEGER"/>
        <result column="maxTime" property="maxTime" jdbcType="BIGINT"/>
        <result column="maxMemory" property="maxMemory" jdbcType="BIGINT"/>
        <result column="caseInfoList" property="caseInfoList" jdbcType="VARCHAR"/>
        <result property="questionId" column="questionId" jdbcType="BIGINT"/>
        <result property="questionNum" column="questionNum" jdbcType="BIGINT"/>
        <result property="questionTitle" column="questionTitle" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, language, code, judgeResult, maxTime, maxMemory, caseInfoList, questionId, questionNum, questionTitle, userId, userName, createTime, updateTime, isDelete
    </sql>

    <select id="countQuestionSubmissions" resultType="com.lc.oj.model.vo.QuestionSubmitCountVO">
        SELECT COUNT(*)                          AS submitCount,
               COALESCE(SUM(judgeResult = 1), 0) AS acceptCount,
               COALESCE(SUM(judgeResult = 2), 0) AS wrongCount,
               COALESCE(SUM(judgeResult = 5), 0) AS timeLimitCount,
               COALESCE(SUM(judgeResult = 6), 0) AS memoryLimitCount,
               COALESCE(SUM(judgeResult = 3), 0) AS compileErrorCount,
               COALESCE(SUM(judgeResult = 4), 0) AS runtimeErrorCount
        FROM question_submit
        WHERE userName = #{userName}
          AND isDelete = 0
    </select>


</mapper>
